<ion-content [fullscreen]="true">
  <div class="flex flex-col justify-center items-center h-full px-6">
    <!-- Logo -->
    <img src="assets/logo/LogoWhite.png" alt="Logo" class="w-24 h-32 my-12">

    <!-- Tagline -->
    <h1 class="text-center mb-12 font-black font-stretch-extra-expanded text-2xl">Create. Connect.<br> Share Opinions
    </h1>

    <!-- Sign Up Button -->
    <button
      class="w-40 px-5 py-3 font-medium rounded-xl text-xl text-center me-2 mb-2 bg-black text-white dark:bg-white dark:text-black">Sign
      Up</button>


    <!-- Alternative Sign-Up -->
    <p class="text-sm my-4 font-extrabold">or sign up using</p>
    <div class="flex gap-4">
      <div class="w-12 h-12 flex items-center justify-center bg-black dark:bg-white rounded-lg">
        <i class="fab fa-google text-xl text-white dark:text-gray-900"></i>
      </div>
      <div class="w-12 h-12 flex items-center justify-center bg-black dark:bg-white rounded-lg">
        <i class="fab fa-apple text-xl text-white dark:text-gray-900"></i>
      </div>
    </div>

    <!-- Already have an account -->
    <div class="absolute bottom-6 text-sm">
      Already have an account?
      <a href="/login" class="font-medium usertext">Log in</a>
    </div>
  </div>

</ion-content>