<ion-header [translucent]="true" class="ion-padding ion-no-border">
  <ion-toolbar mode="ios">

    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-xl font-semibold text-center">
      Traverse
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="Explore Scapu..." debounce="500" show-clear-button="focus"
      class="ion-margin"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <!-- Traverse Grid -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of filteredImages">
        <div class="image-container">
          <img [src]="image" alt="Traverse Image" class="explore-image" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>