.ctext-xs {
  font-size: x-small;
}

.dm {
  content: url("../../assets/icon/dm.png");
}

.inner-circle {
  content: url("../../assets/icon/innercirclelight.png");
}

@media (prefers-color-scheme: dark) {
  .inner-circle {
    content: url("../../assets/icon/innercircledark.png");
  }
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
}

ion-grid {
  text-align: center;
}

ion-col {
  cursor: pointer;
  padding: 20px;
}