/* Style for the chart */
canvas {
  width: 100% !important;
  height: 300px !important;
  scale: 0.8;
}

.hot-topics {
  background: transparent;
  padding: 16px;
}

.hot-topics h2 {
  text-decoration: none;
  color: inherit;
}
ion-list {
  background: transparent !important;
}

ion-item {
  --background: transparent !important;
  --border-color: transparent !important; 
}

ion-label {
  text-decoration: none; 
}



.chart-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.legend {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}
