<ion-header [translucent]="true" class="ion-padding ion-no-border">
  <ion-toolbar mode="ios">

    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-xl font-semibold text-center">
      Scapu Opinion Bar&#8482;
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="See what everyone's thinking..." debounce="500" show-clear-button="focus"
      class="ion-margin"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-title>Use Search Bar to Search for Opinions</ion-title>
  <!-- Pie Chart Section -->
  <div class="chart-container">
    <canvas #pieChart></canvas>
  </div>

  <!-- Legend Section -->
  <div class="legend">
    <div class="legend-item">
      <span class="legend-color" style="background-color: #2aadd6;"></span>
      <span class="legend-label">Like %</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: red;"></span>
      <span class="legend-label">Dislike %</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: grey;"></span>
      <span class="legend-label">Undecided %</span>
    </div>
  </div>


  <!-- Hot Topics Section -->
  <div class="hot-topics">
    <ion-list-header color="dark">
      <ion-label><h2>Hot Topics Around The World</h2></ion-label>
    </ion-list-header>
   
    <ion-list>
      <ion-item *ngFor="let topic of hotTopics">
        <ion-label>{{ topic }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>