<!-- Side Menu -->
<ion-menu contentId="main-content" side="start">
  <ion-header class="ion-no-border">
    <div class="flex flex-col items-center p-5 my-5 gap-1">
      <div class="avatar">
        <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>

      <p class="text-xl font-semibold">Matthew Akinloye</p>
      <ion-text color="usertext">
        <p class="text-sm">&#64;matthew324</p>
      </ion-text>
      <p class="text-xs text-gray-400">4 Friends in circle</p>
    </div>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list class="space-y-4">
      <ion-item routerLink="/home" routerDirection="root" class="flex items-center space-x-4">
        <ion-icon name="people-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Circle of Friends</ion-label>
      </ion-item>

      <ion-item routerLink="/profile" class="flex items-center space-x-4">
        <ion-icon name="barbell-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Predict Height</ion-label>
      </ion-item>

      <ion-item routerLink="/settings" class="flex items-center space-x-4">
        <ion-icon name="search-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Discover People</ion-label>
      </ion-item>

      <ion-item routerLink="/saved-pubs" class="flex items-center space-x-4">
        <ion-icon name="wine-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Saved Pubs</ion-label>
      </ion-item>

      <ion-item routerLink="/settings" class="flex items-center space-x-4">
        <ion-icon name="compass-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Orientation</ion-label>
      </ion-item>

      <ion-item routerLink="/help" class="flex items-center space-x-4">
        <ion-icon name="help-circle-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Help</ion-label>
      </ion-item>

      <ion-item class="flex items-center space-x-4">
        <ion-icon name="log-out-outline" slot="start" class="text-xl text-gray-700"></ion-icon>
        <ion-label class="text-gray-800">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- The main content -->
<ion-router-outlet></ion-router-outlet>